gradio
groq
langchain_text_splitters
matplotlib
numpy
openai
pandas
pinecone
python-dotenv
requests==2.32.5
transformers
ipykernel

langchain
langchain-community
langchain-core
pypdf
PyPDF2